# https://dart.dev/guides/libraries/private-files

.dart_tool/
.DS_Store
.idea
.packages
.pub/
build/
pubspec.lock  # Except for application packages
# API documentation directory created by dartdoc
doc/api/
# files and directories created by other development environments
*.iml
*.ipr         # IntelliJ
*.iws         # IntelliJ
.idea/        # IntelliJ
.DS_Store     # Mac
# generated JavaScript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map
